<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</head>
<style type="text/css">
  body{
    position: relative;
  }
  img{
  	width: 70px;
  	height: 40px;
  }
  i{
  	font-size: 40px;
  }
</style>
<body>

<div class="container">
  <div class="row">
  <h2>E-Book Edit</h2>
    <%= link_to 'Back', ebooks_path %>

  
<%= form_for :ebook, url: ebook_path(@ebook), method: :patch do |f| %>

<% if @ebook.errors.any? %>
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 
    <div id="error_explanation">
      <h6>
        <%= pluralize(@ebook.errors.count, "error") %> prohibited
        this ebook from being saved:
      </h6>
      <ul>
        <% @ebook.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <!-- <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"> -->
    </div>
    <div class="form-group">
       <%= f.label :published_at %>
     <%= f.select :published_at, [['True',1],['False',0],@ebook.published_at] , include_blank: 'Please select'%>
    </div>

    <div class="6">
    <div class="form-group">
       <%= f.label :publish_after %>
    <%= f.text_field :publish_after, class: 'datetimepicker'  %>
    </div>
    </div>

    <div class="form-group">
    	  <%= image_tag @ebook.cover.url %>
    	</br>
       <%=  f.label :cover %>
    <%= f.file_field :cover  %>
    </div>
    <div class="form-group">
    <%= link_to  @ebook.book(:original, false) do %>
    		<i style="font-size: 40px;" class="fa fa-file-pdf-o"></i> 
<% end %>
    </br>
       <%= label_tag(:book, "Book:") %>
    <%= f.file_field :book  %>
    </div>
    <%= f.submit "Update" %>
  
    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
  <% end %>
</div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD hh:mm'
    });
            });
        </script>
</body>
</html>
