<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Listing of all Ebook Table</h2>
  <%=  link_to 'New Book', new_ebook_path, class: "btn btn-primary"%>
              
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Cover</th>
        <th>Published</th>
        <th>Publish At</th>
        <th>Book</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    	<% @ebooks.each do |ebook| %>
      <tr>
        <td><%= ebook.title %></td>
        <td><%= image_tag ebook.cover.url %></td>
        <td><%= ebook.published_at ? 'Published' : 'Not published' %></td>
        <td><%= ebook.publish_after %></td>
        <td>  <%= link_to "Download", ebook.book(:original, false) %></td>
        <td>   <%= link_to 'Show', ebook_path(ebook), class: "btn btn-success" %>
<!-- <button class="btn btn-danger"> -->
	<%= link_to 'Edit', edit_ebook_path(ebook), class: "btn btn-primary"%>
	<%= link_to 'Delete', ebook_path(ebook), method: :delete, data: { confirm: 'Are you sure you want to delete this item'} ,class: "btn btn-danger"%>
		
	</td>
<!-- </button> -->
      </tr>
        <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
