<!DOCTYPE html>
<html lang="en">
<head>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<style type="text/css">
  body{
    position: relative;
  }
</style>
<body>
<div class="container">
	 <div id="blog" class="row"> 
                
                 <div class="col-sm-2 paddingTop20">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><%= link_to 'New Book', new_ebook_path %>
</li>
                    
            </nav>
        </div>
                 <div class="col-md-10 blogShort">
                     <h1>  <%= @ebook.title %></h1>
                   <%= image_tag @ebook.cover.url %>
            	<br />         
            <%= link_to "Download", @ebook.book(:original, false) %>
                 </div>
                 
               <div class="col-md-12 gap10"></div>
             </div>
</div>

</body>
</html>
